{% extends 'forms.html' %}
{% load static %} 
{% load crispy_forms_tags %}

{% block body %}

<div class="col-12 h-100">
  <div class="row h-100">
    <div class="image-1 h-100">
      <img
        src="{% static 'img/Untitled.png' %}"
        width="100%"
        height="100%"
        alt=""
      />
    </div>
    <div class="fields-form-3">
      <form method="post">
        {% csrf_token %}

        <h2>Forgot password?</h2>
        <p>Enter the E-mail address associated with your account</p>
        <label class="form-group has-float-label">
          
          {{form|crispy}}
          <span>Email</span>
        </label>
        <input class="sign-up" type="submit" value="SEND VARIFICATION CODE" />
      </form>
    </div>
  </div>
</div>


{% endblock %}


